body {
	background-color: #050505;
	letter-spacing: 3px;
}

h1 {
	text-align: center;
	font-size: 80px;
	margin-bottom: 2em;
	color: #BBB;
}

form {
    text-align:center;
    color: white;
}

#next {
  margin-top:30px;
}