*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    background-color: darkgray;
}



/*Side Nevigation*/
 #mySideNav{
     width: 0;
     height: 100vh;
     z-index: 10;
     background-color: black;
     opacity: 0.8;
     position: fixed;
     text-align: center;
 }

 #mySideNav.openMenu{
     width: 100vw;
 }



/* Main Nevigation for larger devices*/
 .menubar{
     background-color:azure;
     width: 100vw;
     height: 50px;
     opacity: 0.8;
     z-index: 8;
     text-align: center;
     position: sticky;
     top: 0;
     display: block;
 }



/* Home section */
 #home{
     width: 100vw;
     height: 400px;
     background-color: dimgray;
     position: relative;
 }

 .bigText{
     text-align: center;
     color: white;
     font-size: 4em;
     top: 50%;
     transform: translate(-50%,-50%);
 }



/* Other Section */
  .page{
      width: 100vw;
      height: 100vh;
      z-index: 1;
      position: relative;
      text-align: center;
  }

  #linkOne{
      background-color: red;
  }

  #linkTwo{
    background-color: yellow;
  }

  #linkThree{
    background-color: blue;
  }



/* Menu Icon Style*/
  .hamContainer{
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 9;
      display: block;
  }

  

